body {
    background: #131415;
    max-width: 900px;
    width: 75%;
    margin: 5% auto;
    border: 20px solid #4a4d4f;
}

h2 {
    color: #eff2f5;
    font-weight: 700;
    font-size: 2rem;
}

p {
    font-weight: 400;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(74, 77, 79, 0.1);
    border-bottom: 1px solid rgba(74, 77, 79, 0.3);
}

.post {
    text-align: left;
    font-family: 'Lato', sans-serif;
    margin: 2% 2%;
    color: #b0b3b5;
    padding: 0;
}

.date {
    text-transform: uppercase;
    color: #6898f1;
    letter-spacing: 0.2rem;
}

.preamble {
    border-left: 5px solid  #fff242;
    padding-left: 0.5%;
}



