body {
    font-size: 10px;
}

/* font-size is twice as large as parent element */
p {
    /* Google font */
    font-family: 'Indie Flower', cursive;
    font-size: 2.0em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 5.0em;
}

/* font-size is twice as large as parent, <p> */
span {
    font-size: 2.0em;
}

/* font weight ranges from 100-800 */
p {
    font-weight: 400;
}

/* line-hieght is distance between lines and is a factor */
p {
    line-height: 1.5;
}

h1 {
    text-align: right;
}

p {
    text-align: center;
}